:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(45, 45, 45, 0.87);
  background-color: #ffffff;
}

body{
  text-align: center;
}

h1{
  border-top: 2px dashed black;
  margin: 50px;
  padding: 25px;
  font-size: 36px;
}


